[*.{cs,vb}]

# IDE0044: 添加只读修饰符
dotnet_diagnostic.IDE0044.severity = silent

# IDE0290: 使用主构造函数
dotnet_diagnostic.IDE0290.severity = silent

# IDE0090: 使用 "new(...)"
dotnet_diagnostic.IDE0090.severity = silent

# IDE0028: 简化集合初始化
dotnet_diagnostic.IDE0028.severity = silent